
.contenedor{
  width: 100%;
  background-image: url("imagenes/pokemonesdesenfocado.jpg");
  background-attachment: fixed;
  min-height: 1000px;
  background-size: 400%;
  background-position: center; 
  font-family: cursive;
 
}
/* diseño de encabezado */
.encabezado{
  width: 100%;
  background-color: #77b7cbce ;
  display: flex;
  height: 150px;
 
}
.logo{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.superiorencabezado{
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.superiorsecundario{
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
  
}
.botonsecundariosup{
  display: flex;
  align-items: center;
  padding: 10px;
  
}
.supbotton{
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  background-color: #ffffff;
  font-family: cursive;
  outline: 0px;
  transition: background-color .5s;
  font-size: auto;

}
.supbotton:hover{
  background-color: #FFCB05;
  cursor: pointer;

}
.buscador{
  width: 40%;
  display: flex;
  justify-content: space-around;
  

}
.textodebusqueda{
  padding: 10px;
  width: 80%;
  border-radius: 25px;
  border: 0px;
  font-family: cursive;
  outline: 0px;
  transition: background-color .5s;


}
.textodebusqueda:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
}



#logo{
  width: 75%;
  }

.root{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
  /*css de main.js*/
.tarjeta{
  width: 300px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.815);
  display: flex;
  margin: 1% 1% 3%;
  flex-direction: column;
  border-radius: 3%;
  
}
.superior{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.inferior{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.imagenpokemon{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box ;

}
.datosprincipales{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.datossecundarios{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*id de superior*/
#imagenpokemon{
    width: 90%;
  
  
}
#name{
  padding: 5% 10%;
  background-color: #88B9C9;
  border-radius: 30px;
  color: white;
  }
#num{
  padding: 2% 15%;
  background-color: #ffffff;
  border-radius: 30px;
}
#cp{
  padding: 2% 10%;
  background-color: #e20303;
  border-radius: 30px;
  color: white;
}

/*inferior tarjeta*/
.dato{
  width: 30%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.valor{
  width: 70%;
  text-align: center;
  background-color: white;
 
  border-radius: 15px;
  }






  .masinfo{
    background-color: rgb(52, 52, 158);
    border-radius: 50%;
    color: white;
    border: 0px;
  }

.masinfopokemon{
  background-color: rgba(0, 0, 0, 0.61);
     position: fixed;
     top: 0px;
     left: 0px;
     bottom: 0px;
     right: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     visibility: hidden;

}
.masinfopokemon.active{
  visibility: visible;
}
.infotarjeta{
  background-color: white;
     display: flex;
}



/* diseño de responsive
  @media screen and (max-width: 1050px){
    header {
    
    height: 160px;
    background-size: 130%;
  }
  #boton{
    height: 160px;
  }
  }
  
  @media screen and (max-width: 800px){
  
   header {
    
    height: 120px;
    background-size: 130%;
  }
  #boton{
    height: 120px;
  }
   
  }
  @media screen and (max-width: 600px){
  
   header {
    height: 100px;
    background-size: 150%;
  
  }
   #boton{
    height: 100px;
  }
  
  }
  
  @media screen and (max-width: 400px){
    header {
    height: 70px;
    background-size: 140%;
  }
    #boton{
    height: 70px;
  }
  
    
  } 
   */

   .overlay{
     background-color: rgba(0, 0, 0, 0.61);
     position: fixed;
     top: 0px;
     left: 0px;
     bottom: 0px;
     right: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     visibility: hidden;
  
   }
   .overlay.active{
     visibility: visible;
   }
   .home{
     background-color: white;
     display: flex;
   }