
.contenedor{
  width: 100%;
  background-image: url("imagenes/pokemones.jpg/") ;
  background-attachment: fixed;
  height: 1600px;
  background-size: 400%;
  background-position: center; 
 
}
/* diseño de encabezado */
.encabezado{
  width: 100%;
  background-color: #77b7cbce ;
  display: flex;
  height: 150px;

  
}
.logo{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.superior{
  width: 80%;
}
#encabezado{

}

#logo{
  width: 75%;
  }


  
/* diseño de responsive
  @media screen and (max-width: 1050px){
    header {
    
    height: 160px;
    background-size: 130%;
  }
  #boton{
    height: 160px;
  }
  }
  
  @media screen and (max-width: 800px){
  
   header {
    
    height: 120px;
    background-size: 130%;
  }
  #boton{
    height: 120px;
  }
   
  }
  @media screen and (max-width: 600px){
  
   header {
    height: 100px;
    background-size: 150%;
  
  }
   #boton{
    height: 100px;
  }
  
  }
  
  @media screen and (max-width: 400px){
    header {
    height: 70px;
    background-size: 140%;
  }
    #boton{
    height: 70px;
  }
  
    
  } 
   */